body{
	background-color:grey;
}

.grid-container{
	display:grid;
	background-color: lightcyan;
	padding:10px;
	height:300px;
	grid-template-columns: auto auto auto;
	grid-template-rows: 30% 30% 30% ;
	
}
.grid-item{
	background-color:white;
	margin:5px;
	
}